block header
	ul
		li
			a(href="/",title="Accueil") Accueil
		li
			a(href="/projects",title="Projets") Projets
		li
			a(href="/users",title="Utilisateurs") Utilisateurs
		li
			a(href="/logout",title="Déconnexion") Déconnexion